<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <mat-nav-list>
          <a  mat-list-item [routerLink]="[ '']"><mat-icon>playlist_add</mat-icon> Formulário</a>
          <a  mat-list-item [routerLink]="[ 'list']"><mat-icon>list</mat-icon>Listagem</a>
       </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>