.example-container {
/*     border: 1px solid rgba(0, 0, 0, 0.5);
 */    height:100vh;

  }
  
  .example-sidenav-content {
 /*    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
  }
  
  .example-sidenav {
  }
  mat-nav-list {
    margin-top:2%;
  }
  a {
    font-size: 5pt;
  }
  mat-icon {
    margin-right: 4%;
  }